<launch>
  <!-- Launch Realsense Camera -->
  <include file="$(find realsense2_camera)/launch/rs_t265.launch" >
      <arg name="enable_fisheye1"          value="true"/>
      <arg name="enable_fisheye2"          value="true"/>
      <arg name="enable_gyro"              value="false"/>
      <arg name="enable_accel"             value="false"/>
      <arg name="publish_odom_tf"          value="false"/>
  </include>
</launch>
