<launch>
  <!-- Launch static transform publishers -->
  <node pkg="tf" type="static_transform_publisher" name="tf_baseLink_cameraPose"
        args="0.1257 0.0 -0.0219 0.0 -1.5708 0.0 base_link camera_pose_frame 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="tf_odom_cameraOdom"
        args="0 0 0 0 0 0 odom camera_odom_frame 1000"/>

  <!-- Drop odometry to 30Hz -->
  <node pkg="topic_tools" type="drop" name="odom_drop"
    args="/camera/odom/sample 7 8 /mavros/odometry/out" >
  </node>

  <!-- Start script that launches and keeps t265 alive -->
  <node pkg="px4_with_vision" type="t265_launcher.py" name="t265_node_launcher"/>
</launch>
